* {
    font-family: "Merriweather";
    font-size: 14px;
    font-weight: 300;
}

body {
    background: url(../../img/background.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather";
}

p {
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  display: block; /*for IE*/
  padding: 59px 0 47px 1px;
}

/* CЕТКА */
.container {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.row:after,
.item-id:after,
.items:after,
header:after,
ul.breadcrumbs:after,
section.index:after,
.container:after,
.remember:after {
  content:'';
  display: table;
  clear: both;
}

.col2 {
  width: 16.66%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col5 {
  width: 41.66%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33%;
}

.col8 {
  width: 66.66%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33%;
}

.offset1 {
  margin-left: 8.33%;
}

.offset2 {
  margin-left: 16.67%;
}


/* Главная страница */
.main-body {
  background: url(../../img/background.jpg) 50% 0 no-repeat;
  background-color: #323232;
  background-attachment: fixed
}

.main-index {
  padding: 0;
}

section.index {
  padding: 53px 49px 53px 82px;
  background: url(../../img/subtle_grunge.png);
  margin-bottom: 35px;
  position: relative;
}
.feature-title {
    text-align: center;
    margin-bottom: 77px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.feature-description:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  top: -52px;
  left: 50%;
  margin-left: -9px;
}
.feature-description {
    text-align: center;
    margin-bottom: 78px;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
}
}
.logo {
  padding: 57px 0 31px 0;
  text-align: center;
  margin-left: 14px;
}

.logo a{
  display: block;
  margin: 0 auto;
  font-size: 0;
  background: url(../../img/logo.png) no-repeat;
  width: 368px;
  height: 204px;
}
.feature-title {
    text-align: center;
    margin-bottom: 77px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

/* Хэдер */
header {
  background-color: #795548;
  font-size: 0px;
}

nav {
  float: left;
  width: 83.33%;
}

ul.menu {
  list-style: none;
  width: 790px;
  margin: 0;
  padding: 0;
}

ul.menu li {
  float: left;
}

ul.menu a,
.menu-enter a {
  display: inline-block;
  padding: 28.5px 21px;
  font-size: 16px;
}

ul.menu a:hover,
.menu-enter a:hover {
  background-color: #4E2F23;
}

ul.menu li.active a {
  position: relative;
}

ul.menu li.active a:after {
  content: "";
  display: block;
  height: 4px;
  background: #ffffff;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
}

header a,
footer a {
  color: #ffffff;
  text-transform: uppercase;
  font: 900 16px/1.25em Merriweather,Georgia,serif;
}

.menu-enter a{
  float: right;
  max-width: 25%;
  position: relative;
  padding-left: 50px;
}

.menu-enter a:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;
  background: url(../img/icon-login.png) 0 0;
  top: 29px;
  left: 20px;
}

.menu-enter a:hover:before {
  background: url(../img/icon-login.png) 0 -15px;
}




/* ДРУГОЕ */
.no-sites {
    margin-top: 20px;
    padding: 60px 20px;

    text-align: center;

    border-radius: 2px;
    background-color: #e8eaec;
    box-shadow: inset 0 0 0 1px rgba(43, 50, 57, 0.07);
}
.no-sites i.icon {
    opacity: 0.4;
}
.no-sites > .no-projects {
    margin-bottom: 30px;
}
.icon.no-projects {
    width: 159px;
    height: 139px;

    background-position: 0px 0px;
}

.icon {
    background-image: url(../../img/dashboard.png);
    background-repeat: no-repeat;

    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}

.icon {
    display: inline-block;

    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
