body {
    font-family: "Merriweather";

    background-color: #ffffff;
    background-image: url("img/background.jpgg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather";
}

.map {
    background-color: #dce7eb;
}

nav ul {
    list-style: none;

    text-transform: uppercase;
}

nav {
    background: #000000;
}
nav li {
    float: left;

    padding: 10 10;

    color: #eeeeee;
}
