body {
    font-family: "Merriweather";

    background-color: #ffffff;
    background: url(/img/background.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather";
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.map {
    background-color: #dce7eb;
}

nav ul {
    list-style: none;

    text-transform: uppercase;
}

nav {
    background: #000000;
}
nav li {
    float: left;

    padding: 10 10;

    color: #eeeeee;
}
